.agendamento-form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
}

.form-row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.form-row input, .form-row select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
}

.form-row button {
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.form-row button:hover {
  background-color: #219150;
}

h2 { color: #2c3e50; margin-bottom: 15px; }

/* Isso faz com que todo o texto dos cards e inputs apareça em maiúsculo automaticamente */
.info h3, 
.info p strong, 
.agendamento-form input {
  text-transform: uppercase;
}